.nav-bg{
  background-color: #2c3c43;
}

.box-meeting{
  width: 90%;
  height: 75px;
  background-color: #efefef;
}

.btnAdd{
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  border: #42616A 3px solid;
  background-color: #fff;
}

.card_conclude{
  border: 3px solid #28a745;
  border-radius: 15px;
}
