.box {
    border: 10px solid #2c3c43;
    width: 300px;
    height: 380px;
    margin-top: 20%;
}

form  .btn{
    background-color: #42616a;
    color: #fff;
    font-weight: bold;
}

@media (min-width: 769px){
    .image_mobile{
        display: none;
    }
}

@media (max-width: 768px){
    .image_desk{
        display: none;
    }
}